<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/foods/edit/{{food.id}}/{{day.id}}" method="POST">
        <div class="mb-3" style="width:60vw">
            <label for="category" class="form-label">Category</label>
            <input type="text" name="category" class="form-control" value="{{food.category}}">
          </div>
          <div class="mb-3" style="width:60vw">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" value="{{food.name}}">
          </div>
          <div class="mb-3" style="width:60vw">
            <label for="calories" class="form-label">Calories</label>
            <input type="number" name="calories" class="form-control" value="{{food.calories}}">
          </div>
    
            <button class="btn btn-dark">Update</button>
            
       </form>
</body>
</html>